.overlay {
  background-color: #f5f6fb;
}
.modalWrapper {
  position: absolute;
  background-color: white;
  top: 199px;
  width: 300px;
  height: 525px;
  border: 1px solid transparent;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0 18px;
}
.modalText {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--second-text-color);
  margin-bottom: 24px;
}
.googleWrapper {
  margin-top: 40px;
  text-align: center;
}
.googleBtn {
  width: 125px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #f6f7fb;
  margin-bottom: 30px;
}
.googleBtnSvg {
  margin-right: 10px;
}
.googleBtnText {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
}
.registrWrapper {
  margin-bottom: 40px;
}
.regisrLabel {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}
.formFields {
  width: 253px;
  height: 52px;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #f6f7fb;

  padding-left: 20px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.04em;
  color: #a6abb9;
}
.formFields:not(:last-child) {
  margin-bottom: 30px;
}
.loginBtn {
  width: 125px;
  height: 44px;
  background: #ff751d;
  border: 1px solid transparent;
  border-radius: 16px;

  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.regisrBtn {
  width: 125px;
  height: 44px;
  background: #f5f6fb;
  border: 1px solid transparent;
  border-radius: 16px;

  color: #52555f;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.btnWrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .modalWrapper {
    width: 436px;
    height: 535px;
    left: 166px;
    top: 296.9px;
    text-align: left;
    padding: 0 85px;
  }
  .btnWrapper {
    display: flex;
    justify-content: center;
  }
  .loginBtn {
    margin-right: 15px;
  }
  .regisrLabel {
    display: flex;
  }
  .modalText {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.1666;
  }
  .googleWrapper {
    text-align: left;
  }
  .googleBtnWrapper {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .modalWrapper {
    left: 734px;
    top: 173px;
  }
}
