.header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  /* justify-content: flex-start; */
 
}
.logo{
  position: relative;
  width: 190px;
  height: 31px;
  padding-top: 7px;
  padding-left: 20px;
}
.logoImg{
  height: 33px;
  align-self: center;
  cursor: pointer;
}
.logoImg::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 33px;
  height: 26px;
  background: rgba(251, 124, 47, 0.2);
  border-radius: 8px;
}
.logoImg::after{
  content: "";
  position: absolute;
  left: 6px;
  bottom: 0px;
  width: 33px;
  height: 26px;
  background: #FB7C2F;
  border-radius: 8px;
}
.logoText{
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.045em;
}
.logoText::before{
  content: "";
  position: absolute;
  top: 4px;
  right: 21px;
  width: 2px;
  height: 4px;
  background: black;
}
.logoText::after{
  content: "";
  position: absolute;
  bottom: 1px;
  right: 21px;
  width: 2px;
  height: 4px;
  background: black;
  text-align: end;
}


.logoInfo{
  display: flex;
  justify-content: center;
 align-items: center;
}



 .userName{
 display: flex;
 justify-content: center;
align-items: center;
}
.bgr{
  display: flex;
background-color:#F5F6FA;
border: 1px solid #F5F6FA;
width:32px;
height: 32px;
padding: 0px 0px 3px -3px;
border-radius: 50%;
margin-right: 10px;
justify-content: center;
align-items: center;

}
.logout{
  width: 64px;
  font-size: 12px;
 margin-right: 20px;
 display: inline;

}

.fonVertikal {
  width: 2px; 
  height: 36px;
  background: #F5F6FA;

}


.exit{
  width: 64px;
  font-size: 12px;
  display: inline;
  margin-left: 20px;
}

@media (min-width: 768px) {
 

}

@media (min-width: 320px) {
  .header {
    margin: 0 auto;
  }
}








.logoPage {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 62px;
  letter-spacing: 0.045em;
}
.logoPage::before {
  display: block;
  content: '';
  width: 1.5px;
  height: 3px;
  background-color: black;
  margin-left: 0px;
  margin-bottom: 0px;
}
.logoPage::after {
  display: block;
  content: '';
  width: 1.5px;
  height: 3px;
  background-color: #0e0f0f;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 0px;
}

