@media screen and (min-width: 768px) {
  .costBtn {
    position: absolute;
    width: 138px;
    height: 40px;
    left: 51px;
    top: 198px;
    background: #fefefe;
    border-radius: 20px 20px 0 0;
  }
  .incomeBtn {
    position: absolute;
    width: 138px;
    height: 40px;
    left: 189px;
    top: 198px;
    background: #fafbfd;
    border-radius: 20px 20px 0 0;
  }
  .textBtn {
    font-weight: bold;
    font-size: 15px;
    line-height: 1.166;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
  }
  .textBtn:hover,
  .textBtn:focus {
    color: #ff751d;
  }
  .active {
    color: #ff751d;
  }
  .incomeWrapper {
    position: absolute;
    width: 665px;
    height: 626px;
    left: 51px;
    top: 238px;

    background: #ffffff;

    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }
} ;
