html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 1px dotted dodgerblue;
}
#root {
  margin: 0;
  padding: 0;
}

:root {
  --main-text-color: #000000;
  --second-text-color: #52555f;
}

body {
  margin: 0;
  font-family: "Roboto";
}

.container {
  width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 26px;
    margin: 0;
  }
}

button {
  cursor: pointer;
  outline: none;
}
